In [589]:
import pandas as pd

In [590]:
dataset=pd.read_csv("insurance_pre.csv")

In [591]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [592]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [593]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [594]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [595]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [596]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [597]:
dependent=dataset[['charges']]

In [598]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [599]:
from sklearn.model_selection import train_test_split         
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [600]:
from sklearn.preprocessing import StandardScaler      #standardisation
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [601]:
X_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [602]:
from sklearn.svm import SVR    #here select model and train the model with training set
regressor=SVR(kernel="rbf",C=10000)
regressor.fit(X_train,y_train)

C:\Users\vignesh\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=10000, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [603]:
#from sklearn.ensemble import RandomForestRegressor
#regressor=RandomForestRegressor(n_estimators=10,criterion='friedman_mse',random_state=0)
#regressor.fit(X_train,y_train)

In [604]:
#from sklearn.tree import DecisionTreeRegressor    #here select model and train the model with training set
#regressor=DecisionTreeRegressor(criterion='friedman_mse', splitter='random',max_features='log2')
#regressor=regressor.fit(X_train,y_train)

In [605]:
#import matplotlib.pyplot as plt
#from sklearn import tree
#tree.plot_tree(regressor)
#plt.show()

In [606]:
#weight=regressor.coef_

In [607]:
weight

array([[  257.8006705 ,   321.06004271,   469.58113407,   -41.74825718,
        23418.6671912 ]])

In [608]:
intercept=regressor.intercept_

In [609]:
intercept

array([17690.41791398])

In [610]:
y_predict=regressor.predict(X_test)

In [611]:
from sklearn.metrics import r2_score         
r_score=r2_score(y_test,y_predict)

In [612]:
r_score

0.8779952426221569

In [613]:
import pickle

In [614]:
filename="Finalised model_svm.sav"
pickle.dump(regressor,open(filename,'wb'))

In [616]:
loaded_model=pickle.load(open("Finalised model_svm.sav",'rb')) 
result=loaded_model.predict([[28,30,0,0,1]]) 
result

array([17690.41791398])